/* Put your style information here! */

/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/poppins-v15-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/poppins-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/poppins-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/poppins-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/poppins-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/poppins-v15-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
  }

* {
    padding: 0;
    margin: 0;
    font-size: 1em;
}

main {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    margin: 0 auto;
    background-color: white;
    min-height: 100vh;
}

a {
    color: grey !important;
}

h2 {
    display: inline;
}

.nav-link {
    color:rgba(0, 0, 0, 0.6) !important;
}

.fwh-slide {
    height: 100vh;
    box-sizing: border-box;
}

.star-icon {
    width: 3rem;
    height: 3rem;
}

.half-highlight-1 {
    background: linear-gradient(to top, #ffe1d0 50%, transparent 50%);
}

.half-highlight-2 {
    background: linear-gradient(to top, #fef6dd 50%, transparent 50%);
}

.half-highlight-3 {
    background: linear-gradient(to top, #dcf3d0 50%, transparent 50%);
}
.half-highlight-4 {
    background: linear-gradient(to top, #b5e9e9 50%, transparent 50%);
}

.header {
    padding-top: 20rem;
    padding-left: 20rem !important;
    background-color: #fef6dd;
}

.content {
    padding-top: 5rem !important;
    padding-left: 15rem !important; 
    padding-right: 15rem !important; 
}

.fa-angle-down {
    color: rgba(114, 114, 114, 0.5);
}

.fa-angle-down:hover {
    color: rgba(114, 114, 114, 0.8);
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.arrow-icon {
    position: absolute;
    z-index: 3;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 30px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
  }

  .project-preview {
      width: 100%;
      height: auto;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .row {
      display: flex;
      align-items:center;
      margin-bottom: 8rem;
  }

  .footer {
      background-color: rgba(255, 225, 208, 0.3);
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
  }



